<h1>Days#index</h1>
<p>Find me in app/views/days/index.html.erb</p>

<%= link_to "Créer une journée", new_day_path, class:'btn btn-success' %>

<% @days.each do |day| %>
  <% totals = day.macros %>

  <%= link_to day_path(day) do %>
    <div class="card">
      <h2><%= l(day.date) %></h2>
      <p>
        Kcal : <%= totals[:kcal] %> —
        Lipides : <%= totals[:fats] %>g —
        Prot : <%= totals[:proteins] %>g —
        Gluc : <%= totals[:carbs] %>g —
        Ratio : <%= totals[:ratio] %>
      </p>
    </div>
  <% end %>
<% end %>
