<%# app/views/days/show.html.erb %>
<div class="container">
  <div class="summary-bar">
    <h1 class="text-3xl font-bold mb-6">Journée du <%= l(@day.date, format: :long) %></h1>
    <%# Résumé de la journée %>
    <%= render partial: "days/summary", locals: { day: @day } %>
  </div>


  <% total_kcal = 0; total_fats = 0; total_carbs = 0; total_proteins = 0; total_fibers = 0 %>

  <%# Calcul des totaux par repas %>
  <% @day.meals.each do |meal| %>
    <div class="mb-10 border rounded-lg p-4 shadow bg-dark-50">
      <h2 class="text-2xl font-semibold mb-2"><%= meal.name || "Repas ##{meal.id}" %></h2>

      <% meal_kcal = 0; meal_fats = 0; meal_carbs = 0; meal_proteins = 0; meal_fibers = 0 %>

      <%= turbo_frame_tag "meal_#{meal.id}_dishes" do %>
        <% if meal.dishes.any? %>
          <% meal.dishes.each do |dish| %>
            <div class="mb-6">

              <%# Tableau des ingrédients du plat %>
              <%= render partial: "dishes/table", locals: { dish: dish } %>

            </div>
          <% end %>
        <% else %>
          <p class="italic text-gray-500">Aucun plat pour ce repas.</p>
        <% end %>
      <% end %>

      <%# Résumé du repas %>
      <%= render partial: "meals/summary", locals: { meal: meal } %>

      <%# Formulaire d'ajout de plat %>
      <%= render partial: "meals/form", locals: { meal: meal } %>
    </div>

  <% end %>

  <hr class="my-6 border-t">

</div>
